
/* Change Brand Font */
.navbar-brand{
  font-family: 'Ubuntu', sans-serif;
  font-size: 2em;
  font-weight: bold;
}

/* Change Navigation Color */
.navbar #myMenu .custom-nav .nav-item a {
  color: #fff;
}

.bg-danger {
  background-color:#9e69db!important;
}
.navbar #myMenu .custom-nav .nav-item a:hover{
  color: #d2c5e4;
}

/* Make Header Image Responsive */
.back-image {
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  min-height: 70vh;
  border-radius: 0px;
  margin-top: 74px;
}

/* Header Image Sub-Title */
.st {
  font-size: 24px;
}
/* .jumbotron {
  padding: 2rem 1rem;
  margin-bottom: 2rem;
  background-color: #e9ecef;
  border-radius: 0.3rem;
  color: #9e69db;
} */

/* Change Footer Social Icon Color */
a {
  color:  #9e69db;
}
a:hover {
  color: #d2c5e4;
}
